*,
*::before
*::after {
    box-sizing: border-box;
}


body {
    background-color: azure;
    color: rgb(50, 60, 59);
    text-align: left;
}

h1 {
    padding: 20px;
    margin: 10;
    border-style: outset;
    border-color: rgb(202, 183, 16);
    
}

img {
  margin: 15px ;
  border: solid 10px rgb(202, 183, 16);
  border-style: solid;

}

h3, ul, ol {
    padding-left: 20px;
    padding: 5px, 5px;
    font-size: large;
    font-weight: 800;
}
